@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300;1,600&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}
body , html{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body{
    padding-bottom: 40px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}
svg{
    fill: white;
    display: block;
    margin: 0 auto 30px;
}
form{
    position: relative;
    width: 80%;
    display: block;
    margin: 0 auto;
    min-height: 600px;
    background: #fff4;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
form > div{
    position: relative;
    width: 330px;
    /* background: black; */
    height: 400px;
}
@media screen and (max-width:1300px){
    form{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 30px;
    }
    form > div{
        position: relative;
        width: 300px;
        height: fit-content;
    }
}
form > div > div{
    line-height: 50px;
    padding-left: 30px;
    font-weight: bold;
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    cursor: pointer;
    margin-bottom: 30px;
}
form > div > img{
    width: 100%;
}
form > div > div::before{
    position: absolute;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: '\f062';
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: #134155;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
form > div > div:hover::before{
    background: #092f3f;
}
form > div > div > input{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
form > button{
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
    outline: none;
    background: none;
    width: 300px;
    height: 50px;
    border: 3px solid #134155;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}
form > button:hover{
    background: #134155;
    color: #fff;
}
@media screen and (max-width:1300px){
    form{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 30px;
    }
    form > div{
        position: relative;
        width: 300px;
        height: fit-content;
    }
}
@media screen and (max-width:490px){
    form{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

/* Output image */
.output{
    position: relative;
    display: block;
    margin: 10px auto 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 600px;
    background: #fff4;
    padding: 30px 20px;
}
.output > div{
    position: relative;
    width: 300px;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    justify-content: space-between;
    background: #0004;
}
.output > div > p{
    color: #fff;
    font-weight: bolder;
    letter-spacing: 2px;
}
.output > div > img{
    position: relative;
    width: 80%;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width:1300px){
    .output{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .output > div{
        margin: 25px 0;
    }
}
@media screen and (max-width:450px){
    .output{
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
    .output > div{
        width: 290px;
        height: fit-content;
    }
    .output > div > img{
        width: 90%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:340px){
    h1{
        font-size: 28px;
    }
}